*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;

  font-family: 'Roboto', sans-serif;

  font-family: 'Work Sans', sans-serif;
}
.container {
  background-color: #9b6537;
  width: 500px;
  padding: 50px;
  height:300px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.left {
  float : left;
}
.fit-picture { 
  width : 150px ;
  border-radius: 10%
}
.flex-container {
  display: flex;
  justify-content:space-between;
  line-height: 2 ;
}
.heart{
  width : 20px ;
  opacity: 1;
filter: 
  invert(0.5)
  sepia(1)
  hue-rotate(200deg)
  saturate(4)
  brightness(2);
}
.audio{
  width: 200px;
}
.right{
  float: right;
}
.american{
  width : 40px;
  border-radius: 80%;
}
.flexcont1 {
  display: flex;
  justify-content: space-around;
}
h5 {
  color: hsl(29, 90%, 8%);
  font-size: 11px;
}
p{
  font-size: 10px;
}
.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box1 {
  background-color: #9c724d;
  text-align: center;
  color: #9c724d;
  width: 20px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  flex-grow: 1;
  border-radius: 20px;
  border: #9c724d 1px solid;
}
.time{
width : 18px ;
filter: 
  invert(0.5)
  sepia(1)
  hue-rotate(200deg)
  saturate(4)
  brightness(2);
}
.box2 {
  background-color: #dfa97a;
  text-align: center;
  color: #dfa97a;
  width:200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  flex-grow: 1;
  border: #dfa97a 1px solid;
}
.flexcont2{
flex-direction: column;
}
p1{
  font-family: garamond;
  font-size: 15px;
  color: black;
  font-weight: 100;
  }
h1 {
  font-family: Times New Roman ;
  font-size:40px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color:#db7317;
  -webkit-text-stroke: 1px white;
}
